.azury_theme_dark {
  --font: 'Poppins', sans-serif;
  --heading: #ffffff;
  --text: #caccce;
  --textDark: #8d8e91;
  --surface: #0b0c0f;
  --surfaceSecondary: #0f1115;
  --surfaceTertiary: #14151a;
  --surfaceQuartiary: #181a20;
  --gray: #2b2f3b;
  --graySecondary: #414758;
  --grayTertiary: #23262f;
  --shadowAll: 0 8px 15px rgba(0, 0, 0, .2);
  --shadowBottom: 0px 4px 4px rgba(0, 0, 0, .16);
  --blurple: #5865f3;
  --textBlurple: #7a84f5;
  --blurpleTertiary: #4956e4;
  --textRed: #f26e71;
  --green: #43b683;
}